form {
  width: 100%;
  display: flex;
  gap: .5rem;
}

.input {
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-500);
  border: none;
  flex: 1;
}

form button {
  font-weight: 700;
  background: var(--blue-500);
  color: var(--gray-100);
  padding: 1rem;
  gap: 8px;
  border-radius: 8px;
  border: none;
  
  display: flex;
  align-items: center;
}
