
.header {
  display: flex;
  justify-content: space-between;

  margin: 4rem 0 1.5rem;
}

.listBox {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyState {
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var(--gray-300);
  font-size: .875 rem;
}

.emptyState img{
  margin: 1rem;
}
